{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Компания ООО «Налоги и право» оказывает услуги по ведению
бухгалтерского и налогового учёта. Опыт работы составляет более 10 лет.</title>
  <meta content="Компания ООО «Налоги и право» оказывает услуги по ведению
бухгалтерского и налогового учёта. Опыт работы составляет более 10 лет." name="description">
  <meta content="бухгалтерское сопровождение екатеринбург, аутсорсинг бухгалтерского учета, бухгалтерии" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(83830804, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/83830804" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>НП «МАРС»</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
{#     <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>#}
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Главная</a></li>
          <li><a class="nav-link scrollto" href="#about">О Нас</a></li>
          <li><a class="nav-link scrollto" href="#services">Услуги</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h2>Здравствуйте Вас приветствует компания</h2>
      <h1>ООО "Налоги и право"</h1>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-12 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h4>
                Компания ООО «Налоги и право» оказывает услуги по ведению бухгалтерского и налогового учёта. Опыт работы составляет более 10 лет.
                Наша команда заинтересована в том, чтобы наши клиенты вели свой бизнес долгосрочно,
                не опасались налоговых проверок и успешно развивались.
                Поэтому наша работа построена на законных методах оптимизации расходов и на качестве бухгалтерского обслуживания.

              </h4>
                <br>
                <p>
                    *Имеется опыт работы главным бухгалтером в аутсорсинге более 10 лет!<br>
                    *Обладаем знаниями всех участков бухгалтерии и систем налогообложения (ОСH, УCH, ПАTEHТ).
                </p>
            </div>
          </div>
            <br>
          <h1>Что получают наши клиенты?</h1>
          <div class="col-xl-12 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>ЗАKOHHOE УМEНЬШЕНИЕ НАЛОГОВ</h4>
                  <p>Опыт работы главным бухгалтером в аутсорсинге более 10 лет</p>
                </div>
                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-receipt"></i>
                  <h4>УВЕЛИЧЕНИЕ ПРИБЫЛИ </h4>
                  <p>за счет корректировки и регулярного анализа вашей деятельности на предмет смены системы налогообложения</p>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-receipt"></i>
                  <h4>Готовые ПЕРВИЧНЫЕ ДОКУМЕНТЫ </h4>
                  <p>НАПОМИНАЕМ о сдаче бухгалтерской и налоговой отчетности, готовой к отправке и других важных событиях;</p>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-receipt"></i>
                  <h4>Все ОТЧЕТЫ </h4>
                  <p>(ФНС, ПФР, ФСС, РОССТАТ и т.д.) СДАНЫ В СРОК без штрафов.</p>
                </div>

                <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-receipt"></i>
                  <h4>ЗАБИРАЕМ БАЗЫ И ДОКУМЕНТЫ ОТ ПРЕЖНЕГО БУХГАЛТЕРА (если потребуется). </h4>
                  <p>Хотите провести проверку вашего действующего бухгалтера, не наживается ли она на Вас, нет проблем!</p>
                </div>

              </div>
                            <br>
            <br>
            <br>

            </div><!-- End .content-->
          </div>

            <h4>БУДЕМ РАДЫ НАВЕСТИ ПОРЯДОК В ВАШЕЙ БУХГАЛТЕРИИ!!!</h4>
            <br>
            <br>
            <br>
            <p>Консультирует по бухгалтерскому и налоговому учёту!</p><br>
            <p>Юридическая поддержка по всем вопросам.</p><br>
            <p>Так же имеется аттестат аудитора. Всегда есть возможность провести аудиторскую проверку!</p><br>
            <p>Организуем бухгалтерский учёт "ПОД КЛЮЧ".<br><br>
            Главный бухгалтер на удаленке — это не только выгодно, но и качественно, вам больше не нужно бегать по городу от одной компании к другой! Теперь все в одном месте!
            </p><br>
            <h4>Услуги профессионального бухгалтера и налогового консультанта!  </h4>
        </div>
      </div>


    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Наши услуги</h2>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Наименование услуги</th>
              <th scope="col">Стоимость</th>
            </tr>
          </thead>
          <tbody>
            {% for el in service %}
                {% if el.price == '-' %}
                    <tr>
                        <td>- {{ el.name }};</td>
                    </tr>
                {% elif el.price == '%' %}
                    <tr>
                        <td>
                            <strong>{{ el.name }}</strong>
                        </td>
                      <td>{{ el.price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <strong>{{ el.name }}</strong>
                        </td>
                      <td>{{ el.price }} ₽</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section><!-- End Services Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Наши контакты</h2>
        </div>
        {% for el in default %}
            <div class="row">
              <div class="col-lg-6">
                <div class="info-box mb-4">
                  <i class="bx bx-map"></i>
                  <h3>Адрес</h3>

                        <p>{{ el.address }}</p>

                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3>
                  <p>{{ el.email }}</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Телефон</h3>
                  <p>+{{ el.number }}</p>
                </div>
              </div>
        {% endfor %}
        </div>

        <div class="row">

          <div class="col-lg-12 ">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A860bfa6ac86d8214a689d7c4592cb05d419f18d22b3b58fdab4c84e4dff95593&amp;source=constructor" width="100%" height="300px" frameborder="0"></iframe>
          </div>

{#          <div class="col-lg-12">#}
{#            <form method="post" class="php-email-form">#}
{#              <div class="row">#}
{#                  {% csrf_token %}#}
{##}
{#                <div class="form-group mt-3">#}
{#                    {{ form.as_p }}#}
{#                </div>#}
{##}
{#              </div>#}
{#              <div class="text-center">#}
{#                  <button type="submit">Заказать звонок</button>#}
{#              </div>#}
{#            </form>#}
{#          </div>#}
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>ООО «Налоги и право»</h3>
                {% for el in contact %}
                  <p><br>
                    <strong>Телефон:</strong> +{{ el.number }}<br>
                    <strong>Имя:</strong>{{ el.name }}<br>
                    <strong>Email:</strong> {{ el.email }}<br>
                  </p>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ООО "Налоги и право"</span></strong>. Все права защищены
      </div>
      <div class="credits">
          <p>Сайт создан Web-студией <a href="#">Kolibri</a></p>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>